In [1]:
##1.	Write a Python program to convert kilometers to miles?

# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 45
45.00 kilometers is equal to 27.96 miles

In [3]:
#Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = float(input("Enter value in celsius: "))

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Enter value in celsius: 445.5
445.5 degree Celsius is equal to 833.9 degree Fahrenheit

In [8]:
##3.	Write a Python program to display calendar?

# importing calendar module
import calendar

# To take month and year input from the user
yy = int(input("Enter year: "))
#mm = int(input("Enter month: "))

# display the calendar

#print(calendar.month(yy, mm))
print(calendar.calendar(yy))

Enter year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [10]:
# Solve the quadratic equation 

# import complex math module
import cmath

a = int(input("Enter the co-efficient of x^^2  :"))
b = int(input("Enter the co-efficient of x  :"))
c = int(input("Enter the Constant :"))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
Root1 = (-b-cmath.sqrt(d))/(2*a)
Root2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(Root1,Root2))

Enter the co-efficient of x^^2  :4
Enter the co-efficient of x  :8
Enter the Constant :3
The solution are (-1.5+0j) and (-0.5+0j)

In [13]:
##5.	Write a Python program to swap two variables without temp variable?

x = input("Enter first Variable :")
y = input("Enter Second Variable :")

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# code to swap 'x' and 'y'
x, y = y, x

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Enter first Variable :54
Enter Second Variable :33
Before swapping:
Value of x :  54  and y :  33
After swapping:
Value of x :  33  and y :  54